.carousel-styles {
  justify-content: space-around;
  overflow-wrap:normal;
  float: center;
}

.p-0 {
  background-size: 80%;
  opacity: 80%;
  background-blend-mode:lighten;
}

.nav {
  background: #E8E8E8 !important;
}

@media (max-width: 480px) {
  .details {
    font-size: small;
    word-wrap: break-word;
  }
  }